@model IEnumerable<Chat>
@{
    ViewData["Title"] = "Home Page";
}
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="Home" asp-action="JoinChat" asp-route-id="@chat.Id">
            @chat.Name
        </a>
    }